<div class="row">
    <div class="col-12"><button class="btn btn-success">
            New recipe
        </button></div>
</div>
<hr>
<div class="row">
    <div class="col-12" *ngFor="let item of recipes">
        <a href="#" class="list-group-item clearfix list-group-item-secondary recipe-item">
            <div class="float-left">
                <h4 class="list-group-item-heading">
                    {{item.name}}
                </h4>
                <p class="list-group-item-text">
                    {{item.description}}
                </p>
            </div>
            <span class="float-right">
                <img [src]="item.imagePath"
                    alt="" class="img-fluid" style="max-height:70px;">
            </span>

        </a>
        <app-recipe-item></app-recipe-item>
    </div>
</div>